header{

    background-color: aqua;
}


#produtos{
    background-color: rgb(8, 241, 78);
    height: 700px;
}

#parceiros{
    background-color: rgb(243, 5, 5);
    height: 700px;
}

#história{
    background-color: rgb(243, 228, 13);
    height: 700px;
}

.logotipo{

height: 250px;

}
